<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="org.mosaicchristian.greater">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="greater" android:icon="@drawable/greater_emblem2"></application>
</manifest>